body {
  position: relative;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-style: italic;
} 
 
.box{
  display: table;
  margin: 0 auto;
}


.grid-container {
  display: grid;
  justify-content: space-evenly;
  grid-gap: 15px;
  padding: 5px;
}


input[type=submit], [type=text]{
  background-color: skyblue;
  border: none;
  color:green;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  font-style: oblique;
  padding: 16px 32px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 15px;

}

.hidden {
    display: none;
}

ul{
  list-style: none;
}

img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  opacity: 0.9;
}